# DON'T FORGET TO RENAME TO .env OR .env.local BEFORE PUSHING TO GIT
 
### PRODUCTION & DEVELOPMENT VARIABLES
# These variables need to be set for local development and when deployed on Vercel

# Change this to your own domain
NEXT_PUBLIC_ROOT_DOMAIN=localhost:3000

# PostgreSQL database URL – get one here: https://vercel.com/docs/storage/vercel-postgres/quickstart
DATABASE_URL=

BETTER_AUTH_SECRET="secret"
BETTER_AUTH_URL=http://app.localhost:3000

GITHUB_CLIENT_ID="*****"
GITHUB_CLIENT_SECRET="*****"

